.CartWidget {
    cursor: pointer;
    background-color: #f0f0f0;
    color: #000;
    height: 55px;
    width: 55px;
    border-radius: 20px;
}

.sidebar {
    visibility: hidden; 
    opacity: 0;          
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 500px;
    background-color: #1c1c1c !important;
    flex-direction: column;
}

.sidebar.visible {
    visibility: visible;   
    opacity: 1;            
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    padding: 20px;
    justify-content: space-between;
    color: #fff;
}

.item{
    padding: 10px;
    height: 50px;
    border-radius: 10px;
    background-color: #3f3f3f;
}

.cerrar{
    width: 10%;
    margin-bottom: 30px;
}

.finalizar{
    width: 100%;
}
