.SobreNosotros{
    margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #000, #3F0304);
    font-family: "Sora", sans-serif;
}

.titulo{
    color: #f0f0f0;
    font-size: 120px;
    text-align: center;
    top: 0;
    font-family: 'Highrise';
    font-weight: 800;
}

.contentNosotros{
    display: flex;
    padding-bottom: 50px;
}

.lemaUno{ 
    padding-left: 20vh;
    padding-right: 10vh;
    font-size: 20px;
    font-weight: bold;
    width: 600px;
    align-content: center;
    color: #f0f0f0;
}

.lemaDos{ 
    padding-left: 10vh;
    padding-right: 20vh;
    font-size: 20px;
    width: 600px;
    align-content: center;
    color: #f0f0f0;
}


.block{
    padding-top: 30px;
    display: block;
}

.vaso{
    border: none;
    display: block; /* Elimina espacio extra en línea */
    width: 250px;
    height: 450px;
    filter: drop-shadow(0 0 20px black);
}
