

.bodyInicio{
    margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #000, #3F0304);
    font-family: "Sora", sans-serif;
}

.h2{
    font-size: 70px;
    padding-top: 35vh;
    padding-left: 20vh;
    font-weight: 700;
    margin-right: 300px;
}

.block{
    display: block;
}

.containerFlechas{
    padding-right: 40vh;
}
.arrows{
    font-size: 220px;
}